
.Hfaq{
    margin: 0px auto;
    padding: 100px 0px;
    display: flex;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    /* max-width: 1200px; */
    gap: 60px;
}
@media (min-width: 430px)
{
    .Hfaq {
        max-width: 100%;
    }
}
@media (max-width: 767px)
{
    .Hfaq {
        padding-top: 50px;
    }
    
}

.Hfaq_1{
    display: flex;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
}
.pHfaq_1{
    font-size: 16px;
    font-weight: 800;
    line-height: 1.5rem;
    color: rgb(31, 130, 104);
}
p {
    margin: 0px 0px 1.45rem;
    padding: 0px;
}
.hHfaq_1{
    display: flex;
    text-align: center;
}
@media (max-width: 767px)
{
    .hHfaq_1 {
        font-size: 36px;
    }
}

h1{
    margin: 0px 0px 1.45rem;
    padding: 0px;
    color: inherit;
    font-weight: bold;
    text-rendering: optimizelegibility;
    /* font-size: 2.25rem; */
    line-height: 1.1;
}
.Hfaq_2{
    display: flex;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 800px;
}
.Hfaq_2A{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    border-radius: 20px;
    flex-flow: column;
    background: transparent;
    width: 100%;
    gap: 14px;
    cursor: pointer;
}
.Hfaq_2B{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2em;
    display: flex;
    flex-flow: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.a{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2em;
}
.plus{
    transform: rotate(0deg);
    transition: transform 0.2s ease-out 0s;
    font-size: xx-large;
    font-weight: 100;
    color: grey;
    height: fit-content;
}
.Adiv{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    color: rgb(91, 94, 118);
    display: none;
    transition: height 0.3s ease-out 0s;
}
.hAdiv{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    border-radius: 20px;
    flex-flow: column;
    background: transparent;
    width: 100%;
    gap: 14px;
    cursor: pointer;
}
.Adiv1{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2em;
    display: flex;
    flex-flow: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.plus1{
    transform: rotate(0deg);
    transition: transform 0.2s ease-out 0s;
    font-size: xx-large;
    font-weight: 100;
    color: grey;
    height: fit-content;
}
.Faq_1{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    color: rgb(91, 94, 118);
    display: none;
    transition: height 0.3s ease-out 0s;
}
.Faq_2{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    border-radius: 20px;
    flex-flow: column;
    background: transparent;
    width: 100%;
    gap: 14px;
    cursor: pointer;
}
.Faq_3{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2em;
    display: flex;
    flex-flow: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.plus3{
    transform: rotate(0deg);
    transition: transform 0.2s ease-out 0s;
    font-size: xx-large;
    font-weight: 100;
    color: grey;
    height: fit-content;
}
.Faq__1{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    color: rgb(91, 94, 118);
    display: none;
    transition: height 0.3s ease-out 0s;
}
.Faq__2{
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    border-radius: 20px;
    flex-flow: column;
    background: transparent;
    width: 100%;
    gap: 14px;
    cursor: pointer;
}
.Faq__3{
    font-size: 18px;
    font-weight: 800;
    line-height: 1.2em;
    display: flex;
    flex-flow: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
}
.plus4{
    transform: rotate(0deg);
    transition: transform 0.2s ease-out 0s;
    font-size: xx-large;
    font-weight: 100;
    color: grey;
    height: fit-content;
}
.Faq__4{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.7em;
    color: rgb(91, 94, 118);
    display: none;
    transition: height 0.3s ease-out 0s;
}